<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Index</title>
</head>
<body>
<h1 th:text="'List of Authors ... '">Authors Index Page</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">Vacío</td>
        <td th:text="${author.firstName}">Vacío</td>
        <td th:text="${author.lastName}">Vacío</td>
    </tr>
    </tbody>

</table>


</body>
</html>