<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'editors')}">
<head>
    <meta charset="UTF-8">
    <title>Editor Index</title>
</head>
<body>
<h2 th:text="'Editors'">Editor Index Page</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Editorials</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="editor : ${editors}">
        <td th:text="${editor.firstName + ' ' + editor.lastName}"></td>
        <td><span th:each="editorial : ${editor.editorials}"
                  th:text="${editorial.description + ' '}"/> <span
                th:if="${editor?.editorials?.size() == 0}">none</span></td>
    </tr>
    </tbody>
</table>

</body>
</html>